@media screen and (orientation: landscape) {
	#app {
		height: 81vh;
	}
}

@media screen and (orientation: portrait) {
	#app {
		height: 92vh;
	}
}

[disabled="disabled"] {
	color: #d1d1d1;
	opacity: .5;
	cursor: not-allowed;
}

body {
	margin: 0px;
	font-family: "Lucida Console", Courier, monospace;
	font-size: 12px;
}

a {
	text-decoration: none;
	font-weight: bold;
}

#app {
	display: flex;
	width: calc(100vw - 25px);
	margin: 10px;
	border: 1px black solid;
}

#settings-panel {
	width: 370px;
	overflow-y: auto;
	border: 1px solid black;
	border-width: 0px 1px 0px 0px;
}

#plot-panel {
	width: calc(100% - 370px);
	display: flex;
  	justify-content: center;
  	align-items: center;
}

.block {
	width: 340px;
	margin: 5px 5px 40px 5px;
}

#options-block {
	margin-bottom: 5px;
}

.title, .sub-title {
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 16px;
}

.sub-block {
	margin: 0px 0px 20px 20px;
}

.sub-title {
	font-size: 14px;
}

.container:not(#randomize-container):not(#save-container), .formula, .detail {
	margin: 0px 0px 10px 20px;
}

.slider {
	height: 2px; 
	margin: 0px;
	-webkit-appearance: none;
	background: #e1e1e1;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
	width: 20px;
	height: 20px;
	border-radius: 50%; 
	-webkit-appearance: none;
	appearance: none;
	background: #1f8fff;
}

.slider::-moz-range-thumb {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #1f8fff;
}

.slider:hover, .slider:focus {
	background: #b3b3b3;
}

#parameters-block .slider {
	width: 220px;
}

#options-block .slider {
	width: 130px;
}

#randomize {
	margin-top: 20px;
}

.button {
	font-family: "Lucida Console", Courier, monospace;
	display: inline-block;
	color: white;
	border: none;
	padding: 10px;
	text-decoration: none;
	text-align: center;
	font-size: 14px;
	background: #1f8fff;
	width: 100%;
	cursor: default;
}

.button:hover {
	background: #0063c7;
}

.button:focus {
	outline: none;
}

#save-container {
	text-align: center;
}

#save-png, #save-svg {
	width: 145px;
}

input[type="color"] {
	width: 247px;
	height: 20px;
	border: none;
	background: none;
}
