body {
	font-family: "Lucida Console", Courier, monospace;
	font-size: 12px;
	margin: 0px;
}

#app {
	display: flex;
	width: calc(100vw - 25px);
	height: calc(100vh - 25px);
	margin: 10px;
	border: 1px black solid;
}

.panel {
	display: block;
	overflow-x: hidden;
}

.block {
	margin: 5px 5px 40px 5px;
	width: max(100vw, 1920px);
}

.title {
	margin-bottom: 15px;
	font-weight: bold;
	font-size: 16px;
}

a {
	text-decoration: none;
	font-weight: bold;
}

.sub-title {
	margin: 20px 0px 5px 20px;
	font-weight: bold;
	font-size: 14px;
}

.description, .img-list {
	margin: 0px 0px 10px 20px;
}

.img-list {
	display: flex;
	height: 120px;
	align-items: center;
}

img {
	width: 100px;
	margin-right: 5px;
	border: 1px solid #bfbfbf;
	border-radius: 10px;

	-moz-transition: width .2s ease-in-out;
	-ms-transition: width .2s ease-in-out;
	-o-transition: width .2s ease-in-out;
	-webkit-transition: width .2s ease-in-out;
	transition: width .2s ease-in-out;
}

img:hover {
	width: 120px;
	box-shadow: 0 0 2px 2px #37D0FC;
}