/*
 *	Slider based on:
 *		https://www.w3schools.com/howto/howto_js_rangeslider.asp
 */

body {
	font-family: "Lucida Console", Courier, monospace;
	margin: 0px;
}

[disabled="disabled"] {
	color: #d1d1d1;
	opacity: .5;
	cursor: not-allowed;
}

#app {
	margin: 10px;
	display: grid;
	grid-column-gap: 0px;
	grid-template-columns: [column1-start] 520px [column1-end column2-start] calc(100% - 520px) [column2-end];
}

.panel {
	border: 1px solid black;
}

#settings-panel {
	grid-column: 1;
}

#plot-panel {
	grid-column: 2;
	border-left: 0px;
	text-align: center;
	vertical-align: middle;
}

#svg-plot {
	margin-bottom: -3px;
}

.block {
	margin: 5px 5px 40px 5px;
}

.title, .sub-title {
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 5px;
}

.sub-block {
	margin: 0px 0px 20px 20px;
}

.sub-title {
	font-size: 18px;
}

.container:not(#randomize-container):not(#save-container), .formula, .detail {
	margin: 0px 0px 10px 20px;
}

.slider {
	-webkit-appearance: none;
	height: 2px; 
	background: #e1e1e1;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	margin: 0px;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 50%; 
	background: #1f8fff;
}

.slider::-moz-range-thumb {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #1f8fff;
}

.slider:hover, .slider:focus {
	background: #b3b3b3;
}

#parameters-block .slider {
	width: 371px;
}

#options-block .slider {
	width: 255px;
}

#randomize {
	margin-top: 20px;
}

.button {
	font-family: "Lucida Console", Courier, monospace;
	display: inline-block;
	color: white;
	border: none;
	padding: 10px;
	text-decoration: none;
	text-align: center;
	font-size: 18px;
	background: #1f8fff;
	width: 100%;
	cursor: default;
}

.button:hover {
	background: #0063c7;
}

.button:focus {
	outline: none;
}

#save-png, #save-svg {
	width: 228px;
}

input[type="color"] {
	border: none;
	background: none;
	width: 405px;
	height: 20px;
}
