/*
 *	Slider based on:
 *		https://www.w3schools.com/howto/howto_js_rangeslider.asp
 */

body {
	font-family: "Lucida Console", Courier, monospace;
	font-size: 12px;
	margin: 0px;
}

[disabled="disabled"] {
	color: #d1d1d1;
	opacity: .5;
	cursor: not-allowed;
}

#app {
	margin: 10px;
	display: flex;
}

.panel {
	border: 1px solid black;
	display: flex;
}

#settings-panel {
	border-right: 0px;
	width: 370px;

	-moz-transition: width .1s ease-in-out;
	-ms-transition: width .1s ease-in-out;
	-o-transition: width .1s ease-in-out;
	-webkit-transition: width .1s ease-in-out;
	transition: width .1s ease-in-out;
	overflow-x: hidden;
}

#settings-panel[collapsed="collapsed"] {
	width: 20px;
	overflow-x: hidden;
}

#settings {
	width: 350px;

	-moz-transition: width .1s ease-in-out;
	-ms-transition: width .1s ease-in-out;
	-o-transition: width .1s ease-in-out;
	-webkit-transition: width .1s ease-in-out;
	transition: width .1s ease-in-out;
	overflow-x: hidden;
}

#settings[collapsed="collapsed"] {
	width: 0px;
	overflow-x: hidden;
}

#collapse-settings {
	height: 100%;
	width: 20px;
	background: #1f8fff;
}

#collapse-label {
	color: #ffffff;
	position: relative;
	top: 50%;
	left: 10%;
	font-weight: bold;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	outline: none;
}

#plot-panel {
	border-left: 0px;
	width: calc(100% - 370px);
	justify-content: center;

	-moz-transition: width .1s ease-in-out;
	-ms-transition: width .1s ease-in-out;
	-o-transition: width .1s ease-in-out;
	-webkit-transition: width .1s ease-in-out;
	transition: width .1s ease-in-out;
}

#plot-panel[collapsed="collapsed"] {
	width: calc(100% - 20px);
}

#svg-plot {
	margin-bottom: -3px;
}

.block {
	margin: 5px 5px 40px 5px;
	width: 340px;
	opacity: 1;

	-moz-transition: opacity .1s ease-in-out;;
	-ms-transition: opacity .1s ease-in-out;;
	-o-transition: opacity .1s ease-in-out;;
	-webkit-transition: opacity .1s ease-in-out;;
	transition: opacity .1s ease-in-out;;
}

[collapsed="collapsed"] .block {
	opacity: 0;
}

#options-block {
	margin-bottom: 5px;
}

.title, .sub-title {
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 5px;
}

.sub-block {
	margin: 0px 0px 20px 20px;
}

.sub-title {
	font-size: 14px;
}

.container:not(#randomize-container):not(#save-container), .formula, .detail {
	margin: 0px 0px 10px 20px;
}

.slider {
	-webkit-appearance: none;
	height: 2px; 
	background: #e1e1e1;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	margin: 0px;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 50%; 
	background: #1f8fff;
}

.slider::-moz-range-thumb {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #1f8fff;
}

.slider:hover, .slider:focus {
	background: #b3b3b3;
}

#parameters-block .slider {
	width: 220px;
}

#options-block .slider {
	width: 130px;
}

#randomize {
	margin-top: 20px;
}

.button {
	font-family: "Lucida Console", Courier, monospace;
	display: inline-block;
	color: white;
	border: none;
	padding: 10px;
	text-decoration: none;
	text-align: center;
	font-size: 14px;
	background: #1f8fff;
	width: 100%;
	cursor: default;
}

.button:hover, #collapse-settings:hover {
	background: #0063c7;
}

.button:focus {
	outline: none;
}

#save-container {
	text-align: center;
}

#save-png, #save-svg {
	width: 145px;
}

input[type="color"] {
	border: none;
	background: none;
	width: 247px;
	height: 20px;
}
