/*
 * Landscape mobile device
 */
 @media screen and (orientation: landscape) and (hover: none) and (pointer: coarse) {
	#app {
		height: 81vh;
	}
}

/*
 * Portrait mobile device
 */
@media screen and (orientation: portrait) and (hover: none) and (pointer: coarse) {
	#app {
		height: 92vh;
	}
}

/*
 * Standard desktop
 */
@media screen and (hover: hover) and (pointer: fine) {
	#app {
		height: calc(100vh - 25px);
	}
}

body {
	margin: 0px;
	font-family: "Lucida Console", Courier, monospace;
	font-size: 12px;
}

a {
	text-decoration: none;
	font-weight: bold;
}

#app {
	display: flex;
	width: calc(100vw - 25px);
	margin: 10px;
	border: 1px black solid;
}

#settings-panel {
	width: 490px;
	overflow-y: auto;
	border: 1px solid black;
	border-width: 0px 1px 0px 0px;
}

#plot-panel {
	width: calc(100% - 490px);
	display: flex;
  	justify-content: center;
  	align-items: center;
}

.block {
	width: 460px;
	margin: 5px 5px 40px 5px;
}

.title {
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 16px;
}

.container, .formula, .detail  {
	margin: 0px 0px 10px 20px;
}

.name {
	white-space: pre;
}

.slider {
	height: 2px; 
	margin: 0px;
	-webkit-appearance: none;
	background: #e1e1e1;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
	width: 20px;
	height: 20px;
	border-radius: 50%; 
	-webkit-appearance: none;
	appearance: none;
	background: #1f8fff;
}

.slider::-moz-range-thumb {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #1f8fff;
}

.slider:hover, .slider:focus {
	background: #b3b3b3;
}

#parameters-block .slider {
	width: 275px;
}

#options-block .slider {
	width: 310px;
}