body {
	margin: 0px;
	font-family: "Lucida Console", Courier, monospace;
	font-size: 12px;
}

a {
	text-decoration: none;
	font-weight: bold;
}

#app {
	display: flex;
	margin: 10px;
	border: 1px black solid;
}

#settings-panel {
	width: 470px;
	border: 1px solid black;
	border-width: 0px 1px 0px 0px;
}

#plot-panel {
	width: 100%;
	padding: 3px 2px 0px 2px;
	text-align: center;
	background: #000000;
}

.block {
	width: 460px;
	margin: 5px 5px 40px 5px;
}

.title {
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 16px;
}

.container, .formula, .detail  {
	margin: 0px 0px 10px 20px;
}

.slider {
	width: calc(100% - 170px);
	height: 2px; 
	margin: 0px;
	-webkit-appearance: none;
	background: #e1e1e1;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	
}

.slider::-webkit-slider-thumb {
	width: 20px;
	height: 20px;
	border-radius: 50%; 
	-webkit-appearance: none;
	appearance: none;
	background: #1f8fff;
}

.slider::-moz-range-thumb {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #1f8fff;
}

.slider:hover, .slider:focus {
	background: #b3b3b3;
}